* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  --font_col: #00415d;
  --background_col: #fcfee1;
  --accent_col: #ed7655;
}
body {
  background-color: var(--background_col);
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font_col);
}
